.footer {
    height: 125px;
    background: #00ADEE;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &-sport{
        padding-left: 163px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        letter-spacing: -0.02em;
    
        &__img {
            @include svg(25px,25px);
        }
    }


    &-links {
        display: flex;

    }
    &-link {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #fff;
        margin-right: 36px;
    }


    &-networks {
        display: flex;
        padding-right: 167px;

        &__circle {
            height: 25px;
            width: 25px;
            background: white;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 17px;
        }

        &__img {
            @include svg(15px,15px);
        }


    }

}