
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F4F6F9;
    z-index: 1;
    height: 100%;
    height: 700px;
    overflow: hidden;
    @media screen and (max-width: 1700px) 
    {
      height: 100%;
    }


    &-img {
        width: 60%;
        height: 100%;
        z-index: 10;
        align-self: flex-start;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1700px) 
            {
            display: none;
            }

        &--phones {
            align-self: flex-start;
            display: flex;
            
        }
    }


    &-caption {
        width: 40%;
        @media screen and (max-width: 1700px) 
        {
            width: 100%;
        }


        &__logotype {
            color: #5282F0;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.02em;
            font-weight: bold;
            margin-bottom: 133px;
            display: flex;
            align-items: center;

            &-img {
                @include svg(30px,30px);
                flex-grow:0;
            }
        }

        &__inf {
            padding-left: 163px;
            padding-bottom: 164px;
            padding-top: 61px;
            padding-right: 163px;

        }

        &__headline {
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            letter-spacing: 0.03em;
            color: #333333;
            margin-bottom: 30px;

        }

        &__paragraf {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #4F4F4F;
            margin-bottom: 50px;
        }

        &__buttons {
            display: flex;
            width: 100%;
        }
        
        &__button {
            background: #000000;
            border: none;
            border-radius:  7.33503px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 4px 12px;

            &--margin {
                margin-left: 20px;
            }
            &-img{
                @include svg(30px,33px);
                margin-right: 5px;
            }

            &-paragraph {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                

                &--big {
                    font-weight: 500;
                    font-size: 21.2716px;
                    line-height: 25px;     
                }
            }
        }

        

        &__button2-paragraph--big {
            font-style: normal;
            font-weight: 400;
            font-size: 17.6041px;
            line-height: 21px;
        }

        &__button2-paragraph--big-thin {
            font-style: normal;
            font-weight: 100;
            font-size: 17.6041px;
            line-height: 21px;
        }

    }
}


@media screen and (max-width:1700px) {
    .header-caption__headline,.header-caption__paragraf {
        text-align: center;
    }

    .header-caption__buttons {
        justify-content: center;
    }

    .header-caption__logotype {
        justify-content: center;
    }

    .header-caption__inf {
        padding: 90px;
    }
}