.football{
    @include flexes(flex,row,flex-start,flex-start); 

    &-img {
        width: 98%;
    }
    &-photos {
        position: relative;
        width: 65%;
    }
    &-video {
        top:50%;
        left:50%;
        transform:translateX(-50%);
        z-index: 4;
        position: absolute;
    }

    &-gradient {
        position: absolute;
        left: 0;
        width: 100%;
    }

    &-window {
        position: absolute;
        top:35%;
        left:30%;   
        left:35;
        transform: translateX(-50%);
        z-index: 6;
    }

    &-caption {
        width: 45%;
        align-self: stretch;
        @include flexes(flex,column,flex-start,center);
        padding-right: 217px;

        &__link {
            color: $color-blue;
            margin-bottom: 27px;
        }

        &__headline {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 37px;
            color: #333333;
            margin-bottom: 27px;
        }

        &__paragraf {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color:#4F4F4F;
            margin-bottom: 22px;
        }

        &__link2 {
            color: $color-blue;
        }
    }
}

.phone {
    position: relative;
    @include flexes(flex,row,flex-start,space-between); 
    
    &-caption {
        align-self: stretch;
        z-index: 7;
        width: 50%;
        padding-left:162px;
    }

    &-photo {
            position: absolute;
            z-index: 2;
    }
    
}


