.football{

    height: 700px;
    overflow: hidden;
    @include flexes(flex,row,flex-start,flex-start); 

    &-img {
        width: 98%;
    }
    &-photos {
        position: relative;
        width: 65%;
    }
    &-video {
        top:50%;
        left:50%;
        transform:translateX(-50%);
        z-index: 4;
        position: absolute;
    }

    &-gradient {
        position: absolute;
        left: 0;
        width: 100%;
    }

    &-window {
        position: absolute;
        top:35%;
        left:30%;   
        left:35;
        transform: translateX(-50%);
        z-index: 6;
    }

    &-caption {
        width: 45%;
        align-self: stretch;
        @include flexes(flex,column,flex-start,center);
        padding-right: 217px;

        &__link {
            color: $color-blue;
            margin-bottom: 27px;
        }

        &__headline {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 37px;
            color: #333333;
            margin-bottom: 27px;
        }

        &__paragraf {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color:#4F4F4F;
            margin-bottom: 22px;
        }

        &__link2 {
            color: $color-blue;
        }
    }
}

.phone {
    position: relative;
    @include flexes(flex,row,flex-start,space-between); 
    height: 700px;
    overflow: hidden;
    
    &-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        z-index: 7;
        width: 50%;
        padding-left:162px;
    }

    &-photo {
            position: absolute;
            z-index: 2;
            right: 0;
    }
    
}

.blue-block {
    position: relative;
    height: 700px;
    overflow: hidden;
    @include flexes(flex,column,center,space-between); 
    z-index: 6;
    &__img {
        position: absolute;
        right: 0;
        width:100%;
        z-index: 2;
    }
    &__headline {
        z-index: 6;  
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        color: #FFFFFF;
        align-self:center;
        padding-top:74px;
        height: 20%;
    }

    &__table {
        z-index: 6; 
        padding-bottom:66px;
        padding-left:164px;
        padding-right:163px;
        height: 70%;
        @include flexes(flex,row,flex-start,space-between); 

        &-row {
            width: 30%;
            @include flexes(flex,column,flex-start,space-between); 
            height: 100%;
        }
        &-sell {
            height: 33%;
            @include flexes(flex,column,flex-start,flex-start); 
        }

        &-img {
            @include svg(50px,40px);
        }
        &-text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #FFFFFF;
        }
        
    }
}





.slick {
    height: 400px;
    overflow: hidden;
    @include flexes(flex,column,center,space-around); 
    position: relative;


    &-invisible--l {
        position: absolute;
        z-index: 1;
        left:-2%;
        top: -5%;
        
        
        &__img {
            height: 200px;
        }
    }

    &-invisible--r {
        position: absolute;
        z-index: 1;
        right:-2%;
        top: -5%;

        &__img {
            height: 200px;
        }
    }

    &__prewarrow {
        height: 47px;
        width: 47px;
        background: #FFFFFF;
        border: 1px solid $color-blue;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        position: absolute;
        left:1% ;
        display:flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        
        &-img {
            @include svg(10px, 15px);
        }
    }
    
    
    &__nextarrow {
        height: 47px;
        width: 47px;
        background: #FFFFFF;
        border: 1px solid $color-blue;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        position: absolute;
        right:1% ;
        z-index: 3;

        &-img {
            @include svg(10px, 15px);
        }
    }

    &__headline {
        padding-top: 62px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        color: #333333;
    }

    &__conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        position: relative;
    }



    &__block {
        width: 100%;
        z-index: 0;
           
            &-describe {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #4F4F4F;
            }

            
        &__item{
            width: 200px;
            border: 1px solid #828282;
            border-radius: 4px;
            margin: 0 36px;
            max-height:270px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;  
            padding:20px;

        }

        &-head {
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color:$color-black;
            
        }

        

    }

    &-slick {
        width: 90%;
        height: 100%;
    }

    &-track {
        height: 170px;
    }
}







