.logotype {
  overflow: hidden;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__conteiner {
    max-width:1150px;
    padding:3.5% 20px;
    margin: auto;
}

   
  @media screen and (max-width:1000px)
  {

    height: 100%;
  }

  &__headline {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
  }

  &-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width:1000px)
    {
     flex-direction: column;
    }

    .logotype-block__group1 {
      display: flex;
      flex-grow: 1.5;
      justify-content: space-around;

    }
    
    .logotype-block__group2 {
      display: flex;
      flex-grow: 1.5;
      justify-content: space-around;
    }
    
    .logotype-block__group3 {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
    }

 
    @media screen and (max-width:1000px)
    {
      padding-right: 80px;
      padding-left: 80px;
      flex-wrap: wrap;
      height: 100%;
      justify-content:center;
    }

    &__img {
      margin-right: 15px;
      margin-bottom: 20px;
    }

    &__img1 {
      @include svg(150px, 40px);
    /*  margin-right: 490px;*/
    }

    &__img2 {
      @include svg(100px, 35px);
      
    }

    &__img3 {
      @include svg(76px, 60px);
    /*  margin-right: 190px;*/
    }

    &__img4 {
      @include svg(115px, 35px);
     /* margin-right: 190px;*/
     
    }

    &__img5 {
      @include svg(50px, 50px);
    }

    &__img6 {
      @include svg(220px, 30px);

    }

    &__link-img {
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}


