.blue-block {
  overflow: hidden;
  z-index: 6;
  background: url('../img/blue.svg');

  &__conteiner {
    max-width:1150px;
    padding: 5.5% 20px 3% ;
    margin: auto;
}
 
  &__headline {
    z-index: 6;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #ffffff;
    text-align: center;
  }

  &__table {
    margin-top: 45px;
    z-index: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    &-sell {
      @include flexes(flex, column, flex-start, flex-start);
      margin-bottom: 40px;
      max-width: 30%;
    }

    &-img {
      @include svg(50px, 40px);
      fill:#fff;
    }
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
    }
    &-text::before {
      content: '•';
    }
  }
}

@media screen and (max-width:1000px) {

  .blue-block {
    @include flexes(flex, column, center, space-between);
    z-index: 6;
    background:#FAFAFA;

   
    &__headline {
      color: #4F4F4F;;
      align-self: center;
      text-align: center;
    }
  
    &__table {      
      @include flexes(flex, column, center, space-between);

      &-sell {
        @include flexes(flex, column, center,center);
        width: 100%;
      }
      &-img {
        fill:#00ADEE;
      }
      &-text {
        color: #4F4F4F;
        text-align: center;
        width: 100%;
      }
      &-text::before {
        content: '';
      }
    }
  }
  
}