.logotype {
  overflow: hidden;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__conteiner {
    max-width:1150px;
    padding:3.5% 20px;
    margin: auto;

    @media screen and (max-width:400px)
    {
  
      padding:15% 20px;
    }
}



   
  @media screen and (max-width:1000px)
  {

    height: 100%;
  }

  &__headline {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
  }

  &-block {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    @media screen and (max-width:1000px)
    {
        flex-wrap:wrap;
        max-width: 100%;
        margin: auto;
        align-items: center;
    }

    &__link-img {
      margin:0 1.5%;
    }

    &__img {
      margin-right: 15px;
      margin-bottom: 20px;
    }

    &__img1 {
      @include svg(150px, 40px);
    /*  margin-right: 490px;*/
    }

    &__img2 {
      @include svg(100px, 35px);
      
    }

    &__img3 {
      @include svg(76px, 60px);
    /*  margin-right: 190px;*/
    }

    &__img4 {
      @include svg(115px, 35px);
     /* margin-right: 190px;*/
     
    }

    &__img5 {
      @include svg(50px, 50px);
    }

    &__img6 {
      @include svg(220px, 30px);

    }

    &__link-img {
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}


