.phone {
  overflow: hidden;
  background: url('../img/circlePhone.svg') no-repeat;
  background-attachment: right;

  @media screen and (max-width: 1000px) 
  {
    background-position-y: bottom;
    padding: 8% 20px 45% 15%;
  }

  &__conteiner {
      max-width:1150px;
      padding:8% 20px;
      margin: auto;
  }

  &-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;
    width: 50%;
  }
}





