.football {
    height: 700px;
    

    @media screen and (max-width: 1350px) 
    {
      height: 90%;
    }
    overflow: hidden;
    @include flexes(flex, row, flex-start, flex-start);
    @media screen and (max-width: 1350px) 
    {
      @include flexes(flex,column-reverse, center, center);
    }


  &-photos {
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;

    background: url('C:/Users/Arina.Karmanova/Desktop/Sport/img/football.svg') no-repeat;
    background-size: 100%;
    z-index: 10;
   
    @media screen and (max-width: 1350px) 
    {
      width: 100%;
      height: 800px;
    }
  }
  &-video {
    top: 490px;
    left: 500px;
    transform: translate(-50%,-50%);
    z-index: 4;
    position: absolute;
    @media screen and (max-width: 1700px) and (min-width: 1350px)
    {
      top: 410px; 
    }

    @media screen and (max-width: 1350px) 
    {
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    
  }

  &-gradient {
    position: absolute;
    left: 0;
    width: 100%;

    @media screen and (max-width: 1350px) 
    {
      top:0%;
      transform: rotate(270deg) scaleY(1.5);
      z-index: -1;
      
    }
  }

  &-window {
    position: absolute;
    top: 340px;
    left: 350px;  
    transform: translate(-50%,-50%);
    z-index: 6;
    @media screen and (max-width: 1700px) and (min-width: 1350px)
    {
      top: 260px; 
    }
    @media screen and (max-width: 1350px) 
    {
      top:30%;
      left:30%;
      transform: translate(-50%,-50%);

    }
  }

  &-caption {
    width: 45%;
    align-self: stretch;
    @include flexes(flex, column, flex-start, center);
    padding-right: 217px;
    @media screen and (max-width: 1350px) 
    {
      width: 100%;
      @include flexes(flex, column, center, center);
      padding: 40px;
      z-index:5;
    }

    &__link {
      color: $color-blue;
      margin-bottom: 27px;
    }

    &__headline {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
      margin-bottom: 27px;
    }

    &__paragraf {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #4f4f4f;
      margin-bottom: 22px;
    }

    &__link2 {
      color: $color-blue;
    }
  }
}

@media screen and (max-width:1000px) {
  .football-photos {
    height: 400px;
  }

  .football-video {
    top:60%;
    left:60%;
    transform: translate(-50%,-50%);

  }
.football-window {
      top:40%;
      left:40%;
      transform: translate(-50%,-50%);
}

}
