.football {
  position: relative;
  overflow: hidden;
  background: url('../img/football.svg') no-repeat;

  @media screen and (max-width: 900px) 
  {
    background-image: none;

  }
  &__conteiner {
      max-width:1150px;
      padding:8% 20px;
      margin: auto;

      @media screen and (max-width: 900px) 
      {
        padding:8% 0 0 0;
      }

  }


 &__flex-conteiner {
  display: flex;
  
  @media screen and (max-width: 900px) 
  {
    flex-direction: column-reverse;
    align-items: center;
  }
}
  &-photos {
    display: flex;
    background-size: 200%;
    @media screen and (max-width: 900px) 
    {
      background: url('../img/football.svg') no-repeat;
      background-size: 100%;
      min-height: 450px;
      width: 100%;
  
    }

  }

  &-video {
    position: relative;
    left:23%;
    top: 30%;
    z-index: 4;
    @media screen and (max-width: 900px) 
    {
      left:30%;

    }
  }

  &-gradient {
    position: absolute;
    top:0;
    left:0.08%;
    z-index: 3;
    @media screen and (max-width: 900px) 
    {
      transform: rotate(270deg) scale(1.5);
      top:65%
      
    }
  }

  &-window {
    position: relative;
    left:-65%;
    top:-9%;
    z-index:5;
    @media screen and (max-width: 900px) 
    {
      left:-40%;
      top: -8%;
    }

  }


  &-caption {
    width: 52%;
    justify-content: flex-end;
    z-index: 6;
    padding-left: 15px;
    @include flexes(flex, column, flex-start, center);

    @media screen and (max-width: 1160px) 
    {
      padding-left: 0px;
      padding-bottom: 10%;
      text-align: center;
      @include flexes(flex, column, center, center);
    }
    

    &__link {
      color: $color-blue;
      margin-bottom: 27px;
    }

    &__headline {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
      margin-bottom: 27px;
    }

    &__paragraf {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #4f4f4f;
      margin-bottom: 22px;
    }

    &__link2 {
      color: $color-blue;
    }
  }
}


