.team {
    overflow: hidden;
    background: url('../img/team.svg') no-repeat;
    background-size: 50% 100%;

    &__conteiner {
        max-width:1150px;
        padding: 7% 20px;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }

    &-caption {
        width: 50%;
        @media screen and (max-width:1100px) {
            padding-right: 40px;
            padding-left: 40px;
            width: 100%;
            text-align: center;
        }


        &__headline {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 37px;
            letter-spacing: 0.03em;
            color: #333333;
            margin-bottom: 20px;
        }

        &__paragraf {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #4F4F4F;
            margin-bottom: 20px;
        }

        &__buttons {
            display: flex;
            width: 100%;
            @media screen and (max-width:1100px) {
                justify-content: center;
                margin-bottom: 20px;
            }
        }
        
        &__button {
            background: #000000;
            border: none;
            border-radius:  7.33503px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 4px 12px;


            &--margin {
                margin-left: 20px;
            }
            &-img{
                @include svg(30px,33px);
                margin-right: 5px;
            }

            &-paragraph {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                

                &--big {
                    font-weight: 500;
                    font-size: 21.2716px;
                    line-height: 25px;     
                }
            }
        }

        

        &__button2-paragraph--big {
            font-style: normal;
            font-weight: 400;
            font-size: 17.6041px;
            line-height: 21px;
        }

        &__button2-paragraph--big-thin {
            font-style: normal;
            font-weight: 100;
            font-size: 17.6041px;
            line-height: 21px;
        }

    }
}


