.football {
  position: relative;
  overflow: hidden;
  background: url('../img/football.svg') no-repeat;
  background-size: 50%;

  @media screen and (max-width: 1100px) 
  {
    background-image: none;

  }
  &__conteiner {
      max-width:1150px;
      padding:8% 20px;
      margin: auto;

      @media screen and (max-width: 1100px) 
      {
        padding:8% 0 0 0;
      }

  }

&-gradient {
  width: 100%;
  background:  linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
  background-size: 50%;
  
  @media screen and (max-width: 1100px) 
  {
    background: none;
  }
}

 &__flex-conteiner {
  display: flex;
  
  @media screen and (max-width: 1100px) 
  {
    flex-direction: column-reverse;
    align-items: center;
  }
}
  &-photos {
    
    width: 50%;
    display: flex;
    background-size: 200%;
    position: relative;
    
    @media screen and (max-width: 1100px) 
    {
      background: url('../img/football.svg') no-repeat;
      background-size: 100%;
      padding:16% 0;
      width: 100%;
  
    }
    &__conteiner {
      display: flex;
      width: 100%;
      position: relative;
      justify-content: center;
      @media screen and (max-width:1100px) 
      {
        padding-left: 10%;
      }
 
    }

 

  }

 .football-photos::before {
    background:  linear-gradient(180deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);;
    content:"";
    position:absolute;
    z-index:3;
    width:100%;
    height:100%;
    top:0;
    left: 0;
 }


  &-video {
    z-index: 4;   
    width: 400px;
    overflow: hidden;
    position: absolute;
    top:20%;
    @media screen and (max-width: 600px) 
    {
      width: 200px;
    }

    &__img {
      max-width: 100%;
      border-radius: 4px;
    }
  }


  &-window {
    z-index:5;
    width: 400px;
    overflow: hidden;
    position: relative;
    top:-20%;
    right: 20%;
 

    @media screen and (max-width: 600px) 
    {
      width: 200px;
    }

    &__img {
      max-width: 100%;
      border-radius: 4px;
    }
  }


  &-caption {
    width: 52%;
    justify-content: flex-end;
    z-index: 6;
    padding-left: 15px;
    @include flexes(flex, column, flex-start, center);

    @media screen and (max-width: 1100px) 
    {
      width: 90%;
      padding-left: 0px;
      padding-bottom: 10%;
      text-align: center;
      @include flexes(flex, column, center, center);
    }
    

    &__link {
      color: $color-blue;
      margin-bottom: 27px;
    }

    &__headline {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 37px;
      color: #333333;
      margin-bottom: 27px;
    }

    &__paragraf {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      color: #4f4f4f;
      margin-bottom: 22px;
    }

    &__link2 {
      color: $color-blue;
    }
  }
}


