.slick {
  overflow: hidden;
  @include flexes(flex, column, center, space-around);
  position: relative;
  margin-bottom: 20px;


  &__prewarrow {
    height: 47px;
    width: 47px;
    background: #ffffff;
    border: 1px solid $color-blue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &-img {
      @include svg(8px, 14px);
    }
  }


  &__nextarrow {
    height: 47px;
    width: 47px;
    background: #ffffff;
    border: 1px solid $color-blue;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &-img {
      @include svg(8px, 14px);
    }
  }



  &__headline {
    padding-top: 62px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
  }

  &__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: relative;

    @media screen and (max-width:400px){
      width: 100%;
    }
  }

 

  &__block {
    width: 100%;
    z-index: 0;

    &__item {
      width: 150px;
      border: 1px solid #828282;
      border-radius: 4px;
      margin: 0 16px;
      height: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      overflow: hidden;

      @media screen and (max-width:600px){
        margin: 0 50px;
        width: 250px;    
      }

      @media screen and (min-width:600px) and (max-width:800px){
        margin: 0 50px;
        width: 150px;    
      }

      &-describe {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #4f4f4f;
        padding-bottom: 10px;
        padding-top: 18px;
      }

      &-h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }

      &-head {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $color-black;
      }

      &-author {
        margin-right: 11px;
      }

      &-img {
        @include svg(15px, 15px);
      }

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
      }
    }

    
  }


  &__block::after {
    content: "";
    width: 30%;
    height: 300px;
    z-index: 10;
    position: absolute;
    left: -15%;
    top:0;
    background:  linear-gradient(90deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
  }

  &__block::before {
    content: "";
    width: 30%;
    height: 300px;
    z-index: 10;
    position: absolute;
    right: -15%;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
  }

  &-slick {
    width: 90%;
    height: 100%;
  }

  &-track {
     height: 180px;
    margin-left: auto;
    margin-top:30px;
    margin-bottom: 30px;
      
  }
}
